.multi-select-dropdown {
  position: relative;
  display: inline-block;

  /* display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--gray-200, #e5e7eb);
  background: var(--white, #fff); */
}

.dropdown-button {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--gray-200, #e5e7eb);
  background: var(--white, #fff);
}
.title-text {
  color: var(--gray-600, #4b5563);
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
 
  min-width: 100%;        /* Matches trigger width */
  width: max-content;     /* Expands to fit content */
  max-width: 300px;       /* Optional cap for very long content */
  white-space: nowrap;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 0;
  font-size: 14px;
  width: 100%; /* Ensure label stretches full width */
  white-space: normal; /* Allow text to wrap */
  word-break: break-word; /* Break long words if needed */
}
.dropdown-item:hover{
  background-color: var(--gray-100, #f3f4f6);
  cursor: pointer;
}
.dropdown-icon-label {
  display: flex;      
  align-items: center;
  flex-wrap: wrap; /* Allow icon and text to wrap if needed */
  width: 100%;
  gap: 6px;
}

.multi-select-icon-container {
  display: flex;
  width: 14px;
  height: 14px;
  justify-content: center;
  align-items: center;
}
.carrot-up-down-icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
